
Outputs/multipleTags.mp4
Outputs/Tag2.mp4
Outputs/multipleTags_tagged.avi
Outputs/Tag0_cubed.avi
Outputs/Tag0_tagged.avi
Outputs/Tag1_cubed.avi
Outputs/Tag1_tagged.avi
*.avi
*.mp4
*.mp4
Project 1/Code/multipleTags.mp4
*.mp4
