
Outputs/multipleTags.mp4
Outputs/Tag2.mp4
Outputs/multipleTags_tagged.avi
Outputs/Tag0_cubed.avi
Outputs/Tag0_tagged.avi
Outputs/Tag1_cubed.avi
Outputs/Tag1_tagged.avi
Project 1/Code/multipleTags.mp4
Project 1/Code/Tag2.mp4
Project 1/Code/Tag1.mp4
Project 1/Code/Tag0.mp4
Project_2/Night Drive - 2689.mp4
Outputs/Tag0.mp4
Project_2/challenge_video.mp4
Outputs/Tag2_cubed.avi
Outputs/Tag2_tagged.avi
Outputs/Tag_multiple_cubed.avi
Project_2/image_.avi
Project_2/night_fixed.avi
Project_2/road_images.avi
Project_2/road_video.avi
*.jpg
*.pyc
Project_5/model/*
Project_5/stereo/*
